@model IEnumerable<Buoi13_ADONET.Models.Loai>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="text-danger">@TempData["ThongBao"]</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaLoai }) |
                <a asp-controller="Loai" asp-action="Edit" asp-route-id="@item.MaLoai">Sửa</a>
                <a asp-controller="Loai" asp-action="Delete" asp-route-id="@item.MaLoai">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
