@model MyProject.DataModels.Loai

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiCha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiCha.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLoai">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
