@model IEnumerable<MyProject.DataModels.Loai>

@{
    ViewData["Title"] = "Index";
}

<h2>Danh sách Loại</h2>

<div class="text-right">
    <a asp-action="Create" title="Create New">
        <img src="~/images/new.jpg" height="60"/>
    </a>
    <a asp-action="ImportExcel" title="Import Excel">
        <img src="~/images/excel-import.png" height="60" />
    </a>
    <a asp-action="ExportExcel" title="Export Excel">
        <img src="~/images/excel-export.png" height="60" />
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiCha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiCha.TenLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLoai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLoai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLoai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
