@model MyProject.ViewModels.LoaiDropdownVM

<select name="@Model.FileName" id="@Model.FileName" class="form-control">
    <option>---Không có loại cha---</option>
    @{
        var selectLoaiData = Model.Data;
        var selectedId = Model.Selected;
        var level1 = selectLoaiData.Where(p => p.MaLoaiCha == null);
        var selectedPro = string.Empty;// "selected";
        @foreach (var lv1 in level1)
        {
            if(selectedId.HasValue && selectedId.Value == lv1.MaLoai)
            {
                selectedPro = "selected";
            }
            var level2 = selectLoaiData.Where(p => p.MaLoaiCha == lv1.MaLoai).ToList();
            <option value="@lv1.MaLoai" >@lv1.TenLoai</option>
            if (level2.Count > 0)
            {
                @foreach (var lv2 in level2)
                {
                    var level3 = selectLoaiData.Where(p => p.MaLoaiCha == lv2.MaLoai).ToList();
                    <option value="@lv2.MaLoai">|_____@lv2.TenLoai</option>
                    if (level3.Count > 0)
                    {
                        @foreach (var lv3 in level3)
                        {
                            <option value="@lv3.MaLoai">|__________@lv3.TenLoai</option>

                        }
                    }
                }
            }
        }
    }
</select>