@model MyProject.DataModels.HangHoa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HangHoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenHH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenHH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loai.TenLoai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
