@model Buoi02.Models.HangHoa

@{
    ViewData["Title"] = "LayMot";
}

<div>
    <h4>HangHoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHangHoa)
        </dt>
        <dd class = "col-sm-10">
            @Model.MaHangHoa
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHangHoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHangHoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBan)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
